<div>
  <h1>{{nombre | uppercase | reverse}}</h1>
  <p>({{precio | currency:'EUR'}})</p>
  <p>({{precio | doble:4:1}})</p>
  <p>{{descripcion | slice:0:100 | lowercase}}...</p>
  <p>Fecha de compra: {{fechaVenta | date:'dd MMM yyyy'}}</p>
  <hr>
  <p>{{descripcion | hideWords:['bee', 'butt']}}...</p>
  <p>{{descripcion | hideWords:['bee', 'butt']:'-'}}...</p>
  <hr>
  <input type="text" (change)="addNombre($event.target.value)" placeholder="Intro para añadir el nombre">

  <ul>
    <li *ngFor="let nombre of nombres">{{nombre}}</li>
  </ul>

  <ul>
    <li *ngFor="let nombre of nombres | filtro:'a'">{{nombre}}</li>
  </ul>

</div>
